<div class="container">
    <div class="row">
      <div class="card col-4" style="width: 18rem;">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
          <h5 class="card-title"><%= @item.title %></h5>
          <p class="card-text">가격 : <%= @item.price %>원</p>
          <p class="card-text"><%= @item.description %></p>
          <a href="/items/<%= @item.id %>/edit" class="btn btn-primary">수정하기</a>
          <%= link_to "삭제하기", item_path(@item), method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
    </div>
    <br>
    
    <%= form_for(Comment.new, url: item_comments_path(@item), remote: true) do |f| %>
      <%= f.label :body %><br>
      <%= f.text_area :body, id: "comment-body" %><br><br>
      <%= f.submit "댓글 작성" %>
    <% end %>
    
    <ul id="comments">
      <% @comments.each do |comment| %>
        <%= render comment %>
      <% end %>
    </ul>
</div>